@font-face {
    font-family: 'Kindness';
    src: url("../font/Kindness\ Swash.ttf") format("opentype");
}

@font-face {
    font-family: 'Goliath';
    src: url("../font/Goliath-Regular.ttf") format("opentype");
}

@font-face {
    font-family: 'Modset';
    src: url("../font/Modster\ Script\ Free.ttf") format("opentype");
}

body {
    background-color: #bdc3c7;
}

img {
    filter: brightness(60%);
}

.main {
    font-size: 30px;
    font-family: Modset;
}

.tag-section {
    font-size: 55px;
}

.slides-navigation {
    z-index: 6;
}

/* .slides-container img {
    filter: blur(2px) ;
} */

.slides-navigation .prev, .next {
    width: 47px;
    height: 47px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url(../image/prev-button-slide.png);
}

.slides-navigation a.next {
    right: 20px;
    background-image: url(../image/next-button-slide.png);
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(55, 0, 0, alpha);
}

.tittleMessage {
    position: absolute;
    height: 250px;
    width: 100%;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.tittleMessage .heading p {
    color: #bdc3c7;
    ;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.tittleMessage .heading .main {
    font-size: 50px;
}

.tittleMessage .heading .sub {
    font-size: 23px;
}

.section {
    padding: 100px 0;
    max-width: 100%;
}

.profileImage {
    float: right;
}

.skillsSection, .contactSection {
    background-color: black;
    color: #bdc3c7;
}

.skills {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

.chart .percent {
    color: #bdc3c7;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
}

.squareInnerContainer:after, .squareInnerContainer:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
    right: 0px;
}

.squareInnerContainer:after {
    left: 0px;
}

.squareContent h2 {
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #000;
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.hire-me {
    text-align: center;
}

.hire-me button {
    display: block;
    margin: auto;
    margin-top: 80px;
    width: 150px;
    height: 50px;
    background-color: transparent ;
    cursor: pointer;
    color: #bdc3c7;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    border: 2px solid #bdc3c7;
    transition: all 350ms cubic-bezier(.8, .5, .2, 1.4);
}

.hire-me button span {
    text-decoration: none;
    z-index: 9;
    position: absolute;
    width: 80%;
    height: 50px;
    display: block;
    left: 10%;
    top: 0px;
    line-height: 50px;
}

.hire-me button span:after {
    text-decoration: none;
    content: '';
    width: 130%;
    left: -15%;
    height: 0px;
    background-color: #bdc3c7;
    top: 0px;
    position: absolute;
    z-index: -1;
    transition: all 350ms cubic-bezier(.8, .5, .2, 1.4);
}

.hire-me button span:hover:after {
    height: 20px;
    top: -5px;
    transition: all 350ms cubic-bezier(.8, .5, .2, 1.4);
}

.hire-me button:hover {
    background: #000 ;
    transform: scale(1.1);
    transition: all 350ms cubic-bezier(.8, .5, .2, 1.4);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
}

#contact {
    text-align: center ;
    padding: 20px 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.filter a {
    color: #000;
    border: 1px solid #000000;
    padding: 10px 18px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px
}

.filter li .current {
    background-color: #000;
    ;
    color: #bdc3c7;
}

.filter {
    text-align: center;
    width: 100%;
}

#filters a:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #000 0 80px 0px 2px inset;
}

#filters a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    max-width: 180px;
    text-decoration: none;
    border-radius: 4px;
    padding: 8px 30px;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items {
    text-align: center;
}

.items li {
    display: inline-block;
    padding: 5px;
}

.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons i {
    color: #bdc3c7;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background-color: #000;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.2s linear, 0.2s;
    -moz-transition: all 0.2s linear, 0.2s;
    -o-transition: all 0.2s linear, 0.2s;
    -ms-transition: all 0.2s linear, 0.21s;
    -transition: all 0.2s linear, 0.2s;
}

.items .imageOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
    -ms-transition: all 0.2s linear, 1s;
    -transition: all 0.2s linear, 1s;
}

.items .item:hover .imageOverlay {
    opacity: 1;
}

#about {
    text-align: center;
}

#about p {
    font-size: 20px;
}

#about span {
    padding: 4px;
    background-color: #f01191;
    border-radius: 4px;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0px;
}

.items .item:hover .projectLink {
    right: 0px;
}

.items .item:hover img {
    -webkit-transofrm: scale (1.05, 1.05);
    -moz-transform: scale (1.05, 1.05);
    -o-transform: scale (1.05, 1.05);
    -ms-transform: scale (1.05, 1.05);
    -transform: scale (1.05, 1.05);
}

.copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

.contact a {
    text-decoration: none;
    outline: none;
}

#navigation {
    position: sticky ;
    background-color: #000;
    padding: 10px 10px;
    z-index: 1000;
    width: 100%;
}

#navigation li {
    padding: 0 10px;
}

#navigation li a {
    color: #fff;
}

.navbar-brand, .navbar-brand:hover {
    color: #fff;
}

.navbar-toggler-icon {
    background: url(../img/icons/menu.png);
    background-size: 100%;
}

#navigation {
    position: coicky;
    top: 0;
}

.contact-head {
    display: block ;
    margin-top: 50px ; ;
}

.loader {
    width: 100% ;
    height: 100% ;
    position: absolute ;
    top: 0px ;
    left: 0px ;
    z-index: 99999 ;
}

.loader .inner{
    width: 100% ;
    height: 100% ;
    background: url(../image/loader2.gif) center center no-repeat ;
}


#contact a {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#contact a:focus {
	outline: none !important;
}

#contact a:hover {
	text-decoration: none;
}

#contact h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

#contact p {
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

#contact ul, li {
	margin: 0px;
	list-style-type: none;
}

input {
	outline: none;
	border: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
    -webkit-appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input::-webkit-input-placeholder { color: #bdbdd3;}
input:-moz-placeholder { color: #bdbdd3;}
input::-moz-placeholder { color: #bdbdd3;}
input:-ms-input-placeholder { color: #bdbdd3;}

textarea::-webkit-input-placeholder { color: #bdbdd3;}
textarea:-moz-placeholder { color: #bdbdd3;}
textarea::-moz-placeholder { color: #bdbdd3;}
textarea:-ms-input-placeholder { color: #bdbdd3;}


#contact button {
	outline: none !important;
	border: none;
	background: transparent;
}

#contact button:hover {
	cursor: pointer;
}

#contact iframe {
	border: none !important;
}

.#contact container {
	max-width: 1200px;
}


#contact .container-contact100 {
  width: 100%;  

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  position: relative;
  background-color: #000;
}

#contact .wrap-contact100 {
  width: 550px;
  background: transparent;
  padding: 50px 0px 160px 0px;
}

#contact .contact100-form {
  width: 100%;
}

.#contact contact100-form-title {
  display: block;
  font-size: 30px;
  color: #bdc3c7;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 49px;
}


#contact .wrap-input100 {
  width: 100%;
  background-color: #bdc3c7 ;
  border-radius: 31px;
  margin-bottom: 16px;
  position: relative;
  z-index: 1;
}

.input100 {
  position: relative;
  display: block;
  width: 100%;
  background: #bdc3c7;
  border-radius: 31px;
  font-size: 18px;
  color: #000000;
  line-height: 1.2;
}

input.input100 {
  height: 62px;
  padding: 0 35px 0 35px;
}


textarea.input100 {
  min-height: 169px;
  padding: 19px 35px 0 35px;
}


.focus-input100 {
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #bcbcbc;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100 {
  width: calc(100% + 20px);
}

.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
}

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 150px;
  height: 62px;
  background-color: transparent;
  border-radius: 31px;

  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.contact100-form-btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 31px;
  background-color: #827ffe;
  pointer-events: none;
  
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.contact100-form-btn:hover:before {
  background-color: #403866;
  width: calc(100% + 20px);
}

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 1000;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 14px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  display: block;
  position: absolute;
  z-index: 1100;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 16px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

#contact ::placeholder {
    color: #000 ;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

#portfolio {
    background-color: #bdc3c7 ;
    color: #000 ;
}